h1{font-size: 1.5em; margin-bottom:3vh;}
h3{font-size: 1.25em;margin: 1.5vh;}
p, li{font-size: 1.05em;margin: 1.5vh 2.5vh;}


body{
  background:url('../images/mobile-website-pic.jpg');
  background-repeat: no-repeat;
  background-position:center 0;
  background-attachment: fixed;
  background-size:auto 100vh;
  width:100%;
}
.mainDivs {
  padding-top:5vh;
  padding-bottom:5vh;
}
  #header {
    height:90vh;
    background-color:RGBA(254,254,254, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
    #profileImage {
      margin:2vh;
      background:url('../images/david-profile.jpg');
      background-repeat: no-repeat;
      background-position:center;
      background-size:cover;
    }
    #headerContent {
      width: 75vw;
      height: auto;
      padding:1vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius:1vh;
      background-color:#F1ECE9;
      border-width: thick;
      border-style: solid;
      border-color: #D7443F;
    }
  #aboutMe {
    height: auto;
    background-color: #A6A5A1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    -webkit-clip-path: polygon(0 1.5%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 1.5%, 100% 0%, 100% 100%, 0 100%);
  }
    #aboutMeContent {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: auto;
      width: 100%;
    }
      #aboutMeImages {
        display: flex;
        flex-wrap:wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 95vw;
        margin:2vh;
        /*background-color: red;*/
      }
        #aboutMeImage {
          background:url('../images/longboard.jpg');
          background-repeat: no-repeat;
          background-position:center;
          background-size:cover;
        }
        #aboutMeImage2 {
          background:url('../images/jeep.jpg');
          background-repeat: no-repeat;
          background-position:center;
          background-size:cover;
        }
        #aboutMeImage3 {
          background:url('../images/quadcopter.jpg');
          background-repeat: no-repeat;
          background-position:center;
          background-size:cover;
        }
      #aboutMeText {
        width: 95vw;
        display:flex;
        flex-direction:column;
        align-items: flex-start;
        text-align: left;
        justify-content: center;
      }
        #aboutMeText h3 {
          margin: 1.5vh;
        }
        #aboutMeText p {
          margin: 1.5vh 2.5vh;

        }
  #programming {
    background-color:#F1ECE9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:auto;
  }
    #programmingContent {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: auto;
      width: 100%;
    }
      #programmingText {
        width:95vw;
        display:flex;
        flex-direction:column;
        align-items: flex-start;
        text-align: left;
        justify-content: center;
      }
      #programmingImage {
        height:75vw;
        width: 75vw;
        background:url('../images/languages.png');
        background-repeat: no-repeat;
        background-position:center;
        background-size:contain;
      }
  #projects {
    background-color: #A6A5A1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:auto;
  }
    #projects h1 {
      margin: 1vh;
    }
    #projectsContent {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
      .projectItems {
        width: 95vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-items: center;
        margin:1vw;
      }
        .projectImages {
          width: 45vh;
          height:45vh;
          margin-bottom: 1vh;
        }
        #project1 div.projectImages {background:url('../images/number-memory.png');background-repeat: no-repeat;background-position:center;background-size:contain;}
        #project2 div.projectImages {background:url('../images/homework.png');background-repeat: no-repeat;background-position:center;background-size:contain;}
        #project3 div.projectImages {background:url('../images/greenhouse.png');background-repeat: no-repeat;background-position:center;background-size:contain;}
  #contact {
    height:auto;
    background-color: #F1ECE9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
    #contact h1 {
      margin:1vh;
    }
    #contactContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }
    .contactDivWrapper {
        line-height: normal;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin:1.5vw;
    }
      .contactDiv {
        background-repeat: no-repeat;
        background-position: center;
        background-size:105%;
      }

      #GitLink {
        background-image: url(../images/logos/github.png);
      }
      #FacebookLink {
        background-image: url(../images/logos/facebook.png);
      }
      #KwadYoutubeLink {
        background-image: url(../images/logos/youtube.png);
      }
      #MainYoutubeLink {
        background-image: url(../images/logos/youtube.png);
      }
      #RotorBuildsLink {
        background-image: url(../images/logos/rotorbuilds.png);
      }
  .imageDiv {
    height: 23vh;
    width: 23vh;
    border-color: #D7443F;
    border-radius: 30vh;
    border-width: thick;
    border-style: solid;
    background-color: #F1ECE9;
  }
  .skew {
    display:none;
  }


@media only screen and (min-width:768px) {
  h1{font-size: 2.5em;}
  h3{font-size: 1.5em;margin: 1.5vh;}
  p, li{font-size: 1.25em;margin: 1.5vh 2.5vh;}
  body{

  }
      #profileImage{
        margin: 2vh;
      }
  #aboutMe {
    -webkit-clip-path: polygon(0 2.5%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 2.5%, 100% 0%, 100% 100%, 0 100%);
  }
    #aboutMeImages {
      margin:1vh;
    }
    #programmingImage {
      width:30vh;
      height:30vh;
    }
}

@media only screen and (min-width:1024px){
  body{
    background-image: url('../images/website-pic.jpg')
  }
      #headerContent {
        width:45vw;
      }
      #aboutMe {
        -webkit-clip-path: polygon(0 2.5%, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 2.5%, 100% 0%, 100% 100%, 0 100%);
      }
      #aboutMeContent {
        flex-direction:row;
      }
        #aboutMeImages {
          width:45vw;
          max-width: 400px;
        }
        #aboutMeText {
          width:60vw;
        }
    #programming {

    }
    #projects {

    }
      #projectsContent {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
      }
        .projectItems {
          flex-direction: row;
        }
          .projectItems span {
            display:flex;
            flex-direction: column;
            width:55vw;
          }
          .projectImages {
            width:30vw;
            height:30vw;
          }
        #project1 {

        }
        #project2 {
          flex-direction: row-reverse;
        }
        #project3 {

        }

  .imageDiv {
    height:25vh;
    width:25vh;
  }
}

@media only screen and (min-width: 1440px){
    .projectImages {
      width:20vw;
      height:20vw;
    }
  .imageDiv {
    height:30vh;
    width:30vh;
  }
}
