h1{font-size: 4em;}
h3{font-size: 3.5em;margin: 1.5vh;}
p, li{font-size: 2.75em;margin: 1.5vh 2.5vh;}


body{
  background:url('../images/mobile-website-pic.jpg');
  background-repeat: no-repeat;
  background-position:0 0vh;
  background-attachment: fixed;
  background-size:contain;
  width:100%;
}
  #topBar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 6vh;
    background-color: #485058;
    color:#F1ECE9;
    padding:0 1vw;
  }
    #topBar h1 {
      font-size: 2.5em;
      margin-left: 1vw;
    }
    #topBar ul {
      display: none;
    }
  #header {
    height:65vh;
    background-color:RGBA(254,254,254, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
    #profileImage {
      margin:2vh;
      background:url('../images/david-profile.jpg');
      background-repeat: no-repeat;
      background-position:center;
      background-size:cover;
    }
    #headerContent {
      width: 75vw;
      height: 15vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius:1vh;
      background-color:#F1ECE9;
      border-width: thick;
      border-style: solid;
      border-color: #D7443F;
    }
  #skew1L {
    background-color: #A6A5A1;
  }
  #aboutMe {
    height: 165vh;
    background-color: #A6A5A1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
    #aboutMeContent {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 150vh;
      width: 100%;
    }
      #aboutMeImages {
        display: flex;
        flex-wrap:wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 95vw;
        margin:2vh;
        /*background-color: red;*/
      }
        #aboutMeImage {
          background:url('../images/longboard.jpg');
          background-repeat: no-repeat;
          background-position:center;
          background-size:cover;
        }
        #aboutMeImage2 {
          background:url('../images/jeep.jpg');
          background-repeat: no-repeat;
          background-position:center;
          background-size:cover;
        }
        #aboutMeImage3 {
          background:url('../images/quadcopter.jpg');
          background-repeat: no-repeat;
          background-position:center;
          background-size:cover;
        }
      #aboutMeText {
        width: 95vw;
        display:flex;
        flex-direction:column;
        align-items: flex-start;
        text-align: left;
        justify-content: center;
      }
        #aboutMeText h3 {
          margin: 1.5vh;
        }
        #aboutMeText p {
          margin: 1.5vh 2.5vh;

        }
  #skew2R {
    background-color:#F1ECE9;
  }
  #programming {
    background-color:#F1ECE9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:135vh;
  }
    #programmingContent {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 85%;
      width: 100%;
    }
      #programmingText {
        width:95vw;
        display:flex;
        flex-direction:column;
        align-items: flex-start;
        text-align: left;
        justify-content: center;
      }
      #programmingImage {
        height:65vw;
        width: 65vw;
        background-color: red;
      }
  #skew3L {
    background-color: #A6A5A1;
  }
  #projects {
    background-color: #A6A5A1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:230vh;
  }
    #projects h1 {
      margin: 1vh;
    }
    #projectsContent {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
      .projectItems {
        width: 95vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-items: center;
        margin:1vw;
      }
        .projectImages {
          width: 45vh;
          height:45vh;
          background-color: red;
          margin-bottom: 1vh;
        }
  #skew4R {
    background-color:#F1ECE9;
  }
  #contact {
    height:125vh;
    background-color: #F1ECE9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
    #contact h1 {
      margin:1vh;
    }
    #contactContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }
    .contactDivWrapper {
        line-height: normal;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin:1.5vw;
    }
      .contactDiv {
        background-repeat: no-repeat;
        background-position: center;
        background-size:105%;
      }

      #GitLink {
        background-image: url(../images/logos/github.png);
      }
      #FacebookLink {
        background-image: url(../images/logos/facebook.png);
      }
      #KwadYoutubeLink {
        background-image: url(../images/logos/youtube.png);
      }
      #MainYoutubeLink {
        background-image: url(../images/logos/youtube.png);
      }
      #RotorBuildsLink {
        background-image: url(../images/logos/rotorbuilds.png);
      }
  .imageDiv {
    height: 25vh;
    width: 25vh;
    border-color: #D7443F;
    border-radius: 30vh;
    border-width: thick;
    border-style: solid;
    background-color: #F1ECE9;
  }
  .skew {
    content: '';
    width:100%;
    height:5vh;
    position: absolute;
    top:inherit;
    margin-top:-3%;
    margin-bottom: -3%;
  }
  .skewLeft {
    transform:skewY(1.5deg);
  }
  .skewRight {
    transform:skewY(-1.5deg);
  }
